[Desktop Entry]
Name=海天鹰字体管理器
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYFontManager/HTYFontManager
Icon=/media/sonichy/job/HY/Linux/Qt/HTYFontManager/icon.svg
Path=/media/sonichy/job/HY/Linux/Qt/HTYFontManager
Terminal=false
Type=Application
MimeType=
Categories=